# object files, shared objects
*.o
*.so

# executable
plwm
!src/plwm
!symlinks/plwm
bin/plwm-swi

# tag file
tags

# clangd config
compile_flags.txt

# local neovim config
.nvim.lua

# output dir when building debian packages with cargo-deb
target/
